<ion-tabs>
    <ion-tab tab="home">
      <div id="home-page">
        <ion-header>
          <ion-toolbar>
            <ion-title>Ingresar a clases</ion-title>
            <div class="Volver-Inicio">
              <ion-leabe class="boton" routerLink="/home"> <--Back </ion-leabe>
            </div>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <div class="example-content">Mis clases</div>
        </ion-content>
      </div>
    </ion-tab>
  
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="qr-code-outline"></ion-icon>
        QR
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>