.example-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: linear-gradient(135deg, #3c27ae, #167fd4); /* Fondo con gradiente */
  color: white;
  border-radius: 20px; /* Bordes redondeados */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Sombra elegante */
  padding: 20px; /* Espaciado interno */
  text-align: center; /* Centrado del texto */
}

.qr-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Permite organizar elementos verticalmente */
  height: 100%;
  text-align: center;
  background: radial-gradient(at center, #1e1e1e, #0a0a0a); /* Fondo estilo radial */
  border-radius: 16px; /* Bordes redondeados */
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5), inset 0px -10px 20px rgba(255, 255, 255, 0.1); /* Sombra */
  color: #fff; /* Color del texto */
  padding: 20px; /* Espaciado interno */
}

.qr-content h2 {
  font-size: 40px; /* Tamaño grande del texto */
  font-weight: bold; /* Negrita */
  margin: 0; /* Elimina el margen por defecto */
  color: #a2d2ff; /* Color complementario */
}

//css listo