ion-tab-bar {
    --ion-tab-bar-background: hsl(220, 25%, 15%); /* Azul oscuro para el fondo */
    --ion-tab-bar-border-color: hsl(220, 20%, 25%); /* Azul claro para el borde */
    --color: hsl(220, 15%, 75%); /* Azul grisáceo para los íconos y texto inactivos */
    --color-selected: hsl(220, 70%, 50%); /* Azul vibrante para el seleccionado */
  }


//css listo