

.Volver-Principal{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-title{
    font-family: "Playwrite CU", cursive;
    font-size: medium;
    justify-content: center;
}


//css listo