<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Quiénes Somos</ion-title>
    <div class="Volver-btn">
      <ion-leabe class="boton" routerLink="/home"> <--Back </ion-leabe>
    </div>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Sobre Nosotros</ion-card-title>
     
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta quod cum vel reiciendis, 
      ratione iure sed voluptatem sint distinctio inventore dolor itaque 
      laboriosam necessitatibus facere at et ab! Numquam, cum.
    </ion-card-content>
  </ion-card>


</ion-content>
