<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>CheckClAPP</ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" >CheckClAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Bienvenido</h1>

    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Correo: " type="email" placeholder="Ingrese su Correo"></ion-input>
        <div *ngIf="correo.length < 10 && correo.length > 0">
          <ion-label color="danger"> Correo inválido </ion-label>
        </div>
      </ion-item>

      <ion-item>  
        <ion-input [(ngModel)]="password" label="Contraseña: " type="password" placeholder="Ingrese su contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="login({ correo: correo, password: password })">Iniciar sesión</ion-button><br>
    <ion-label>¿No Tienes una cuenta?</ion-label><ion-label color="primary" [routerLink]="['/registro']"> Regístrate</ion-label><br>
    <ion-label color="primary" [routerLink]="['/recuperar']">¿Ha olvidado su contraseña?</ion-label>
  </div>
</ion-content>
