<ion-tabs>
  <ion-tab tab="home">
<ion-header>
  <ion-toolbar>
    <ion-title>Mis cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 style="text-align: center;">Mis cursos</h2>
  <div *ngIf="cursos.length > 0">

    <ion-list>
      <ion-item *ngFor="let curso of cursos">
        <ion-label>
          <h2>{{ curso.nombre }}</h2>
          <p>{{ curso.descripcion || 'Información adicional sobre el curso.' }}</p>
        </ion-label><br>
          <div class="crear-btn">
            <ion-button class="boton" (click)="guardarCursoId(curso.id)" routerLink="/crear-clase">Crear Clase</ion-button>
          </div>
          <div class="ver-btn">
            <ion-button class="boton" (click)="guardarCursoId(curso.id)" routerLink="/ver-clases">Ver Clases</ion-button>
          </div>
      </ion-item>
    </ion-list>

    <div class="Volver-btn">
      <ion-button class="boton" color="danger" routerLink="/home">Volver</ion-button>
    </div>

  </div>
  <div *ngIf="cursos.length === 0">
    <p>No hay cursos disponibles.</p>
  </div>

</ion-content>




