<ion-tabs>
  <ion-tab tab="home">
    <ion-header>
      <ion-toolbar>
        <ion-title>Ver asignaturas</ion-title>
        <ion-buttons slot="start">
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <H2 style="text-align: center;">Mis asignaturas</H2>
      <div>
        <div id="carouselCursos" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button
              *ngFor="let curso of cursos; let i = index"
              type="button"
              data-bs-target="#carouselCursos"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              aria-current="i === 0 ? 'true' : null"
              [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
          </div>
          <div class="carousel-inner">
            <div 
              *ngFor="let curso of cursos; let i = index" 
              class="carousel-item" 
              [class.active]="i === 0">
              <div class="card">
                <div class="card__border"></div>
                <div class="card_title__container">
                  <span class="card_title">{{ curso.nombre }}</span>
                  <p class="card_paragraph">{{ curso.descripcion }}</p>
                </div>
                <hr class="line" />
                <ul class="card__list">
                  <li class="card__list_item">
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselCursos" data-bs-slide="prev" aria-label="Anterior">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselCursos" data-bs-slide="next" aria-label="Siguiente">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </ion-content>
  </ion-tab>

  <ion-tab tab="qr">
    <ion-content>
      <h2 style="text-align: center;">Escanear QR</h2>     
    </ion-content>
  </ion-tab>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>QR</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
