<ion-tabs>
  <ion-tab tab="home">
    <div id="home-page">
      <ion-header>
        <ion-toolbar>
          <ion-title>Ver asignaturas</ion-title>
          <div class="Volver-Inicio">
            <ion-leabe class="boton" routerLink="/home"> <--Back </ion-leabe>
          </div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="example-content">Mis asignaturas</div>
      </ion-content>
    </div>
  </ion-tab>
  <!--Card de las asignaturas-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  
    <ion-button fill="clear">Action 1</ion-button>
    <ion-button fill="clear">Action 2</ion-button>
  </ion-card>
 

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="qr-code-outline"></ion-icon>
      QR
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>