#open-action-sheet{
    justify-content: center;
    margin-top: 50%;
    padding-left: 25%;
}

ion-label{
    padding-left: 80%;
}

ion-title{
    font-family: "Playwrite CU", cursive;
    font-size: medium;
    justify-content: center;
  }
