<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar Contraseña</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Restablece tu contraseña</h1>

    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="correo" label="Correo: " type="email" placeholder="Ingrese su Correo"></ion-input>
        <div *ngIf="correo.length < 10 && correo.length > 0">
          <ion-label color="danger">Correo inválido</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <ion-button class="boton" (click)="recuperar()">Recuperar Contraseña</ion-button><br>
  </div>
  <div class="Volver-btn">
    <ion-button color= "danger" routerLink="/login">Volver</ion-button> 
  </div>

  
</ion-content>