#open-action-sheet{
    justify-content: center;
    margin-top: 50%;
    padding-left: 25%;
}

#ion-label-b{
    padding-left: 80%;
}


ion-title{
    font-family: "Playwrite CU", cursive;
    font-size: medium;
    justify-content: center;
}

.boton{
    width: 50%; 
    height: 40px; 
    font-size: 14px; 
    margin-left: 25%;
    margin-top: 15%;
    
  }


ion-list{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}


h1{
    margin-left: 13%;
}

  