<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>PresenteProfe</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline" aria-label="Notificaciones" color="light"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleTheme()">
        <ion-icon [name]="currentTheme === 'dark' ? 'moon' : 'sunny'" slot="icon-only" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
  <div class="container">
    <div class="header">
    <div class="gif">
      <img src="https://media.tenor.com/ZAMoMuQgf9UAAAAM/mapache-pedro.gif" alt="">
    </div>

    <div class="Usuario">
      <h2>Bienvenido {{usuario}}</h2>
      
    </div>
    </div>
  </div>
  

<div *ngIf="perfil === 'estudiante'">
    <div class="Ingresar">
      <ion-button class="boton" routerLink="/ingresar">Ingresar a clase</ion-button>
    </div>

    <div class="Ver-Asignaturas">
      <ion-button class="boton" routerLink="/asignaturas">Ver Asignaturas</ion-button>
    </div>
  </div>
  
  <div *ngIf="perfil === 'docente'">
    <div class="Gestionar-Clases">
      <ion-button class="boton" routerLink="/crear-asignatura">Crear una materia</ion-button>
    </div>

    <div class="Gestionar-Clases">
      <ion-button class="boton" routerLink="/asignaturas-profesor">Gestionar clases</ion-button>
    </div>
  </div>

  <div class="Volver-Inicio">
    <ion-button class="boton" color="danger" (click)='cerrarSesion()'>Cerrar Sesion</ion-button>
  </div>
  </div>
</ion-content>
