#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

ion-icon {
  font-size: 28px; /* Ajustar el tamaño del icono */
  color: var(--ion-color-primary);
}

body.dark {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}

body.dark .container {
  background: linear-gradient(135deg, #0d0d0d, #1f1f1f);
  color: #e5e5e5;
}


.gif, .Usuario {
  display: inline-block;
  vertical-align: top;
  margin-right: 10%;

}

.container{
  margin: auto; 
  margin-top: 20%;
  margin-bottom: 20px;
  width: 100%;
  background: linear-gradient(135deg, #3c27ae, #167fd4);
  padding: 20px;
  color: white;
  text-align: left;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 10%;
}

.Volver-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10%;
}

.boton{
  width: 70%; 
  height: 70px; 
  font-size: 25px;
  --background: linear-gradient(145deg, #6ca3fc, #17158e);
  color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.boton:hover {
  transform: scale(1.05); 
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25), -8px -8px 16px rgba(255, 255, 255, 0.25); 
}

.boton:active {
  transform: scale(0.95); 
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.25); 
}


.header{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Usuario h2 {
  font-size: 24px;
}

.perfil-label {
  color: aqua;
  font-size: 16px;
}

.Ingresar,
.Ver-Asignaturas,
.Gestionar-Clases,
.Ver-Alumnos,
.Volver-Inicio {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.boton:hover {
  transform: scale(1.05);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.25), -8px -8px 16px rgba(255, 255, 255, 0.25); /* Brillo adicional al pasar el mouse */
}

.boton:active {
  transform: scale(0.95);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.25); /* Efecto de sombra al hacer clic */
}

.primary-button {
  --background: var(--ion-color-primary); /* Fondo sólido sin gradiente */
}

.danger-button {
  --background: var(--ion-color-danger); /* Fondo sólido sin gradiente */
}


//css listo