<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
  <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="gif">
      <img src="https://media.tenor.com/ZAMoMuQgf9UAAAAM/mapache-pedro.gif" alt="">
    </div>

    <div class="Usuario">
      <h3>Bienvenido {{usuario}}</h3>
    </div>
</div>


  
<div class="Ingresar">
  <ion-button class="boton">Ingresar a clase</ion-button>
</div>

<div class="Ver-Asignaturas">
  <ion-button class="boton">Ver Asignaturas</ion-button>
</div>

<div class="Quienes-Somos">
  <ion-button class="boton" routerLink="/quienes-somos">¿Quiénes Somos?</ion-button>
</div>

<div class="Volver-Inicio">
  <ion-button class="boton" color="danger" routerLink="/">Cerrar Sesión</ion-button>
</div>
 
</ion-content>