<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="registroForm" (ngSubmit)="registrarUsuario()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">RUN</ion-label><br>
        <ion-input formControlName="run" type="text" placeholder="Ingrese su RUN"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label><br>
        <ion-input formControlName="nombre" type="text" placeholder="Ingrese su nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label><br>
        <ion-input formControlName="apellido" type="text" placeholder="Ingrese su apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label><br>
        <ion-input formControlName="correo" type="email" placeholder="Ingrese su correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Perfil</ion-label>
        <ion-select formControlName="perfil" placeholder="Seleccione su perfil">
          <ion-select-option value="estudiante">Estudiante</ion-select-option>
          <ion-select-option value="docente">Docente</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <div class="boton">
      <ion-button expand="block" color="primary" type="submit">Registrar</ion-button>
      <ion-button color="danger" routerLink="/login" >Volver</ion-button>
    </div>

  </form>
</ion-content>
